{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - $block->subject: Block title.
 * - $content: Block content.
 * - $block->module: Module that generated the block.
 * - $block->delta: An ID for the block, unique within each module.
 * - $block->region: The block region embedding the current block.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. The default values can be one or more of the
 *   following:
 *   - block: The current template type, i.e., "theming hook".
 *   - block-[module]: The module generating the block. For example, the user
 *     module is responsible for handling the default user navigation block. In
 *     that case the class would be 'block-user'.
 * - $title_prefix (array): An array containing additional output populated by
 *   modules, intended to be displayed in front of the main title tag that
 *   appears in the template.
 * - $title_suffix (array): An array containing additional output populated by
 *   modules, intended to be displayed after the main title tag that appears in
 *   the template.
 *
 * Helper variables:
 * - $classes_array: Array of html class attribute values. It is flattened
 *   into a string within the variable $classes.
 * - $block_zebra: Outputs 'odd' and 'even' dependent on each block region.
 * - $zebra: Same output as $block_zebra but independent of any block region.
 * - $block_id: Counter dependent on each block region.
 * - $id: Same output as $block_id but independent of any block region.
 * - $is_front: Flags true when presented in the front page.
 * - $logged_in: Flags true when the current user is a logged-in member.
 * - $is_admin: Flags true when the current user is an administrator.
 * - $block_html_id: A valid HTML ID and guaranteed unique.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_block()
 * @see template_preprocess()
 * @see template_preprocess_block()
 * @see bootstrap_process_block()
 * @see template_process()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'clearfix'
  ]
%}
{% set row_count = content['#view'].result|length %}
{% set announcements_context = (row_count > 1) ? 'Announcements' : 'Announcement' %}

{% if (row_count > 0) %}
  <div class="container-fluid announcements-header">
    <div class="row">
      <div class="col-xs-12 text-align-left">
        <h2 id="announcements-label">
          <span id="announcements-label--icon" class="fa fa-bell"></span>
          <span class="announcements-label--title">{{ announcements_context }}</span>
        </h2>
      </div>
    </div>
  </div>
  <div class="announcements">
    {% for row in content['#view'].result %}
      {% set announcement_title = row._entity.title.value %}
      {% set announcement_body = row._entity.body.value %}
      {% set read_more_link = (row._entity.field_link.value.0.uri) ? '<a href="' ~ row._entity.field_link.value.0.uri ~ '">Read More</a>' : '' %}
      {% if row._entity.field_announcement_type.value == 'Announcement' %}
        {% set alert_type = ' alert-warning' %}
        {% set alert_icon = '<span class="fas fa-bullhorn announcement-icon" aria-hidden="true"></span>' %}
      {% elseif row._entity.field_announcement_type.value == 'Emergency' %}
        {% set alert_type = ' alert-danger' %}
        {% set alert_icon = '<span class="fas fa-exclamation-triangle announcement-icon" aria-hidden="true"></span>' %}
      {% elseif row._entity.field_announcement_type.value == 'Information' %}
        {% set alert_type = ' alert-info' %}
        {% set alert_icon = '<span class="fas fa-info-circle announcement-icon" aria-hidden="true"></span>' %}
      {% endif %}
      <div class="container-fluid announcement{{ alert_type }}">
        <div class="row">
          <div class="col-xs-12">
            <span class="announcement-title">{{ announcement_title }}.</span>
            <span class="announcement-body">
              {{ announcement_body|striptags('<a>')|raw }}
              {{ read_more_link|raw }}
            </span>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
